<br><br>
<div class="container">
  <div class="row title">
    <h1>Eat some burgers with the Belchers!</h1>
<br><br>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <h2>Burgers to Cook:</h2>

      <ul>
        {{#each burgers}}
        {{#unless cook}}
        {{> burgers/burger-block cook=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-6">
      <h2>Ready to Serve:</h2>

      <ul>
        {{#each burgers}}
        {{#if cook}}
        {{> burgers/burger-block cook=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
    <br><br>
  </div>
</div>
<br>
<div class="container">
  <div class="row background">
    <h2>Send an order to Bob:</h2><br><br>
    <form class="create-form">
      <br>
      <br>
      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>

      <div class="form-group">
      <label for="cook">Add to bottom of list or rush it?</label><br>
      <input type="radio" name="cook" value="0" checked> Add to list!<br>
      <input type="radio" name="cook" value="1"> RUSH IT!
    </div>

      <button type="submit">Add Burger</button>
    </form>
    <br><br>
  </div>
</div>