/* body{
  background-image: url("https://toppng.com/uploads/preview/bob-with-a-burger-bobs-burgers-bob-11563209358oqnxtcl6wo.png");
  background-color: #82E0AA,
} */

li {
    padding: 5px;
    margin: 5px;
    background: whitesmoke;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: yellow;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  