body {
  background-color: #80DEEA;
  font-family: 'Fredoka One', cursive;
  color: white;
}

.row {
  background-color: tomato;
}

.title {
  justify-content: center;
}

h1, h2 {
  color: #FFF176;
}
.background{
  background-image: url("bbbackground.png");
  background-position: right;
  background-repeat: no-repeat;
}


button {
  font-size: 12px;
}

li {
    padding: 5px;
    margin: 5px;
    background: #58D68D;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: #58D68D;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  